.bgc {
  background: linear-gradient(
      to bottom,
      rgba(53, 31, 10, 0.3),
      rgba(28, 15, 2, 0.3)
    ),
    url("Kiribati.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.d-flex {
  align-items: normal;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 30px;
}
.c1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
}
.g7 {
  background-image: linear-gradient(
    to bottom,
    rgba(8, 8, 7, 0.3),
    rgba(12, 6, 0, 0.3)
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 0%;
}
p {
  font-size: medium;
  text-align: justify;
}
a {
  color: black;
  text-decoration: none;
  padding: 0%;
}
